/* NAVBAR */
.navbar {
    background: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 80%;
    max-width: 50em;
    border-radius: 0 0 150px 150px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: color 0.2s;
}

.nav-links li a:hover {
    color: #000;
}